body {
    max-width: 600px;
    margin: 0 auto;
    padding: 15px;
    font-family: cursive;
}
.title {
    text-align: center;
}




/************/

.image-wrapper{
  border-radius: 10px;
  background-color: #f3f3f3;
}
.lazy-load {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 60rem;
}

.lazy-load-item {
  width: 30rem;
  height: 15rem;
  margin: 30px auto;
}
.lazy-load-item img {
  width: 100%;
  /* height: 250px; */
  object-fit: cover;
  border-radius: 10px;
  display: none;
}
.lazy-load-item img.loaded {
  display: block;
}